USE [master]
GO
/****** Object:  Database [ManageBook]    Script Date: 06/18/2016 18:27:52 ******/
CREATE DATABASE [ManageBook] ON  PRIMARY 
( NAME = N'ManageBook', FILENAME = N'C:\DATA\ManageBook.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ManageBook_log', FILENAME = N'C:\DATA\ManageBook_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ManageBook].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ManageBook]
GO
/****** Object:  Table [dbo].[TemporaryStudentInfo]    Script Date: 06/18/2016 18:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TemporaryStudentInfo](
	[TemporaryID] [int] IDENTITY(1,1) NOT NULL,
	[CollegeName] [varchar](50) NULL,
	[MajorName] [varchar](50) NULL,
	[GradeName] [varchar](50) NULL,
	[StudentClassName] [varchar](50) NULL,
	[StudentName] [varchar](50) NULL,
	[StudentNumber] [varchar](20) NULL,
	[StudentSex] [nchar](1) NULL,
	[StudentMarket] [text] NULL,
 CONSTRAINT [PK_TemporaryStudentInfo] PRIMARY KEY CLUSTERED 
(
	[TemporaryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TeacherInfo]    Script Date: 06/18/2016 18:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TeacherInfo](
	[TeacherInfoID] [int] IDENTITY(1,1) NOT NULL,
	[MajorInfoID] [int] NULL,
	[CollegeID] [int] NULL,
	[TeacherID] [varchar](30) NOT NULL,
	[TeacherName] [varchar](15) NOT NULL,
	[TeacherPhone] [varchar](15) NULL,
 CONSTRAINT [PK_TEACHERINFO] PRIMARY KEY NONCLUSTERED 
(
	[TeacherInfoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [Relationship_4_FK] ON [dbo].[TeacherInfo] 
(
	[CollegeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Relationship_5_FK] ON [dbo].[TeacherInfo] 
(
	[MajorInfoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TeacherInfo] ON
INSERT [dbo].[TeacherInfo] ([TeacherInfoID], [MajorInfoID], [CollegeID], [TeacherID], [TeacherName], [TeacherPhone]) VALUES (1, 1, 1, N'4564564', N'王小熊', N'12349846541')
INSERT [dbo].[TeacherInfo] ([TeacherInfoID], [MajorInfoID], [CollegeID], [TeacherID], [TeacherName], [TeacherPhone]) VALUES (2, 1, 1, N'4618646', N'王大雄', N'876413214654')
INSERT [dbo].[TeacherInfo] ([TeacherInfoID], [MajorInfoID], [CollegeID], [TeacherID], [TeacherName], [TeacherPhone]) VALUES (3, 2, 1, N'6874134', N'李小雄', N'48754135451')
SET IDENTITY_INSERT [dbo].[TeacherInfo] OFF
/****** Object:  Table [dbo].[StudentInfo]    Script Date: 06/18/2016 18:27:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StudentInfo](
	[StudentInfoID] [int] IDENTITY(1,1) NOT NULL,
	[StudentClassID] [int] NOT NULL,
	[StudentName] [varchar](15) NOT NULL,
	[StudentNumber] [varchar](15) NOT NULL,
	[StudentSex] [nchar](1) NOT NULL,
	[StudentMarket] [text] NULL,
 CONSTRAINT [PK_STUDENTINFO] PRIMARY KEY NONCLUSTERED 
(
	[StudentInfoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [Relationship_10_FK] ON [dbo].[StudentInfo] 
(
	[StudentClassID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StudentInfo] ON
INSERT [dbo].[StudentInfo] ([StudentInfoID], [StudentClassID], [StudentName], [StudentNumber], [StudentSex], [StudentMarket]) VALUES (1, 1, N'小熊', N'154214242', N'男', NULL)
INSERT [dbo].[StudentInfo] ([StudentInfoID], [StudentClassID], [StudentName], [StudentNumber], [StudentSex], [StudentMarket]) VALUES (2, 1, N'小小', N'13546542314', N'男', N'sfd')
INSERT [dbo].[StudentInfo] ([StudentInfoID], [StudentClassID], [StudentName], [StudentNumber], [StudentSex], [StudentMarket]) VALUES (3, 2, N'方式', N'456456456', N'男', NULL)
SET IDENTITY_INSERT [dbo].[StudentInfo] OFF
/****** Object:  Table [dbo].[StudentClass]    Script Date: 06/18/2016 18:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StudentClass](
	[StudentClassID] [int] IDENTITY(1,1) NOT NULL,
	[MajorInfoID] [int] NULL,
	[CollegeID] [int] NULL,
	[GradeInfoID] [int] NULL,
	[ClassName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_STUDENTCLASS] PRIMARY KEY NONCLUSTERED 
(
	[StudentClassID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [Relationship_7_FK] ON [dbo].[StudentClass] 
(
	[CollegeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Relationship_8_FK] ON [dbo].[StudentClass] 
(
	[MajorInfoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Relationship_9_FK] ON [dbo].[StudentClass] 
(
	[GradeInfoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[StudentClass] ON
INSERT [dbo].[StudentClass] ([StudentClassID], [MajorInfoID], [CollegeID], [GradeInfoID], [ClassName]) VALUES (1, 1, 1, 3, N'15软件1班')
INSERT [dbo].[StudentClass] ([StudentClassID], [MajorInfoID], [CollegeID], [GradeInfoID], [ClassName]) VALUES (2, 1, 1, 3, N'15软件2班')
INSERT [dbo].[StudentClass] ([StudentClassID], [MajorInfoID], [CollegeID], [GradeInfoID], [ClassName]) VALUES (3, 1, 1, 3, N'15软件3班')
SET IDENTITY_INSERT [dbo].[StudentClass] OFF
/****** Object:  Table [dbo].[SchoolTerm]    Script Date: 06/18/2016 18:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SchoolTerm](
	[SchoolTermID] [int] IDENTITY(1,1) NOT NULL,
	[TermName] [varchar](50) NULL,
	[TermSimple] [varchar](40) NULL,
 CONSTRAINT [PK_SCHOOLTERM] PRIMARY KEY NONCLUSTERED 
(
	[SchoolTermID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[SchoolTerm] ON
INSERT [dbo].[SchoolTerm] ([SchoolTermID], [TermName], [TermSimple]) VALUES (1, N'2014年春季期', N'2014春')
INSERT [dbo].[SchoolTerm] ([SchoolTermID], [TermName], [TermSimple]) VALUES (2, N'2014年秋季期', N'2014秋')
INSERT [dbo].[SchoolTerm] ([SchoolTermID], [TermName], [TermSimple]) VALUES (3, N'2015年春季期', N'2015春')
SET IDENTITY_INSERT [dbo].[SchoolTerm] OFF
/****** Object:  Table [dbo].[PlanBook]    Script Date: 06/18/2016 18:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PlanBook](
	[PlanBookID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[MajorInfoID] [int] NOT NULL,
	[CollegeID] [int] NOT NULL,
	[StudentClassID] [int] NOT NULL,
	[SchoolTermID] [int] NOT NULL,
	[CourseName] [varchar](50) NOT NULL,
	[BookName] [varchar](50) NOT NULL,
	[ISBN] [varchar](40) NOT NULL,
	[Author] [varchar](20) NOT NULL,
	[Publish] [varchar](30) NOT NULL,
	[Price] [money] NOT NULL,
	[YearMonth] [datetime] NULL,
	[TeacherBookNum] [int] NOT NULL,
	[StudentBookNum] [int] NOT NULL,
	[BookTotalNum] [int] NOT NULL,
	[Examine] [bit] NULL,
	[IsBookStock] [bit] NULL,
	[OrderBookRemark] [varchar](500) NULL,
 CONSTRAINT [PK_PlanBook] PRIMARY KEY CLUSTERED 
(
	[PlanBookID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [Relationship_11_FK] ON [dbo].[PlanBook] 
(
	[CourseID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Relationship_12_FK] ON [dbo].[PlanBook] 
(
	[CollegeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Relationship_13_FK] ON [dbo].[PlanBook] 
(
	[MajorInfoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Relationship_14_FK] ON [dbo].[PlanBook] 
(
	[StudentClassID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Relationship_15_FK] ON [dbo].[PlanBook] 
(
	[SchoolTermID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PlanBook] ON
INSERT [dbo].[PlanBook] ([PlanBookID], [CourseID], [MajorInfoID], [CollegeID], [StudentClassID], [SchoolTermID], [CourseName], [BookName], [ISBN], [Author], [Publish], [Price], [YearMonth], [TeacherBookNum], [StudentBookNum], [BookTotalNum], [Examine], [IsBookStock], [OrderBookRemark]) VALUES (1, 3, 1, 1, 1, 6, N'C#桌面应用开发', N'C#实战', N'1245123147644215', N'枭雄', N'人民出版社', 56.0000, CAST(0x0000A62600FC92EF AS DateTime), 1, 35, 36, 1, 1, NULL)
INSERT [dbo].[PlanBook] ([PlanBookID], [CourseID], [MajorInfoID], [CollegeID], [StudentClassID], [SchoolTermID], [CourseName], [BookName], [ISBN], [Author], [Publish], [Price], [YearMonth], [TeacherBookNum], [StudentBookNum], [BookTotalNum], [Examine], [IsBookStock], [OrderBookRemark]) VALUES (2, 3, 1, 1, 1, 6, N'发生的范德萨', N'456456', N'252356+5', N'发生的', N'水电费', 13.0000, CAST(0x0000A62600FCB707 AS DateTime), 2, 3, 5, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[PlanBook] OFF
/****** Object:  Table [dbo].[MajorInfo]    Script Date: 06/18/2016 18:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MajorInfo](
	[MajorInfoID] [int] IDENTITY(1,1) NOT NULL,
	[CollegeID] [int] NULL,
	[MajorName] [varchar](50) NOT NULL,
	[MajorSimple] [varchar](40) NOT NULL,
 CONSTRAINT [PK_MAJORINFO] PRIMARY KEY NONCLUSTERED 
(
	[MajorInfoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [Relationship_2_FK] ON [dbo].[MajorInfo] 
(
	[CollegeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MajorInfo] ON
INSERT [dbo].[MajorInfo] ([MajorInfoID], [CollegeID], [MajorName], [MajorSimple]) VALUES (1, 1, N'软件技术专业', N'软件专业')
INSERT [dbo].[MajorInfo] ([MajorInfoID], [CollegeID], [MajorName], [MajorSimple]) VALUES (2, 1, N'计算机应用技术专业', N'计应专业')
INSERT [dbo].[MajorInfo] ([MajorInfoID], [CollegeID], [MajorName], [MajorSimple]) VALUES (3, 1, N'物联网技术专业', N'物联网专业')
SET IDENTITY_INSERT [dbo].[MajorInfo] OFF
/****** Object:  Table [dbo].[GrantBook]    Script Date: 06/18/2016 18:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GrantBook](
	[GrantID] [int] IDENTITY(1,1) NOT NULL,
	[PlanBookID] [int] NULL,
	[StudentInfoID] [int] NULL,
	[SchoolTermID] [int] NULL,
	[GetBookNum] [int] NOT NULL,
	[ExitBook] [bit] NULL,
 CONSTRAINT [PK_GRANTBOOK] PRIMARY KEY NONCLUSTERED 
(
	[GrantID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Relationship_20_FK] ON [dbo].[GrantBook] 
(
	[PlanBookID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Relationship_22_FK] ON [dbo].[GrantBook] 
(
	[SchoolTermID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [Relationship_23_FK] ON [dbo].[GrantBook] 
(
	[StudentInfoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GradeInfo]    Script Date: 06/18/2016 18:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GradeInfo](
	[GradeInfoID] [int] IDENTITY(1,1) NOT NULL,
	[GradeName] [varchar](50) NULL,
	[GradeSimple] [varchar](40) NULL,
 CONSTRAINT [PK_GRADEINFO] PRIMARY KEY NONCLUSTERED 
(
	[GradeInfoID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[GradeInfo] ON
INSERT [dbo].[GradeInfo] ([GradeInfoID], [GradeName], [GradeSimple]) VALUES (1, N'2013级', N'13级')
INSERT [dbo].[GradeInfo] ([GradeInfoID], [GradeName], [GradeSimple]) VALUES (2, N'2014级', N'14级')
INSERT [dbo].[GradeInfo] ([GradeInfoID], [GradeName], [GradeSimple]) VALUES (3, N'2015级', N'15级')
SET IDENTITY_INSERT [dbo].[GradeInfo] OFF
/****** Object:  Table [dbo].[GetBook]    Script Date: 06/18/2016 18:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GetBook](
	[GetBookID] [int] IDENTITY(1,1) NOT NULL,
	[PlanBookID] [int] NULL,
	[GetBookNum] [int] NULL,
	[Signer] [varchar](20) NOT NULL,
	[SignerIdentity] [varchar](10) NOT NULL,
	[SignerPhone] [varchar](20) NOT NULL,
	[GetBookRemarks] [text] NULL,
	[CollegeID] [int] NULL,
	[StudentClassID] [int] NULL,
	[SchoolTermID] [int] NULL,
 CONSTRAINT [PK_GETBOOK] PRIMARY KEY NONCLUSTERED 
(
	[GetBookID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [Relationship_19_FK] ON [dbo].[GetBook] 
(
	[PlanBookID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GetBook] ON
INSERT [dbo].[GetBook] ([GetBookID], [PlanBookID], [GetBookNum], [Signer], [SignerIdentity], [SignerPhone], [GetBookRemarks], [CollegeID], [StudentClassID], [SchoolTermID]) VALUES (1, 1, 36, N'打算', N'学生代表', N'1547894564578', NULL, 1, 1, 6)
SET IDENTITY_INSERT [dbo].[GetBook] OFF
/****** Object:  Table [dbo].[Course]    Script Date: 06/18/2016 18:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Course](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[CourseType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_COURSE] PRIMARY KEY NONCLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON
INSERT [dbo].[Course] ([CourseID], [CourseType]) VALUES (1, N'校级必修')
INSERT [dbo].[Course] ([CourseID], [CourseType]) VALUES (2, N'校级选修')
INSERT [dbo].[Course] ([CourseID], [CourseType]) VALUES (3, N'院级必修')
SET IDENTITY_INSERT [dbo].[Course] OFF
/****** Object:  Table [dbo].[CollegeInfo]    Script Date: 06/18/2016 18:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CollegeInfo](
	[CollegeID] [int] IDENTITY(1,1) NOT NULL,
	[CollegeName] [varchar](50) NOT NULL,
	[CollegeSimple] [varchar](40) NOT NULL,
 CONSTRAINT [PK_COLLEGEINFO] PRIMARY KEY NONCLUSTERED 
(
	[CollegeID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CollegeInfo] ON
INSERT [dbo].[CollegeInfo] ([CollegeID], [CollegeName], [CollegeSimple]) VALUES (1, N'信息工程学院', N'信工学院')
INSERT [dbo].[CollegeInfo] ([CollegeID], [CollegeName], [CollegeSimple]) VALUES (2, N'建筑工程学院', N'建筑学院')
INSERT [dbo].[CollegeInfo] ([CollegeID], [CollegeName], [CollegeSimple]) VALUES (3, N'艺术工程学院', N'艺术学院')
SET IDENTITY_INSERT [dbo].[CollegeInfo] OFF
/****** Object:  Table [dbo].[BookStock]    Script Date: 06/18/2016 18:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BookStock](
	[StockBookID] [int] IDENTITY(1,1) NOT NULL,
	[PlanBookID] [int] NULL,
	[ArriveQuantity] [int] NULL,
	[NoArriveQuantity] [int] NULL,
	[NetPrice] [money] NULL,
	[Discount] [varchar](10) NULL,
	[Arrived] [bit] NULL,
 CONSTRAINT [PK_BookStock_1] PRIMARY KEY CLUSTERED 
(
	[StockBookID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [Relationship_21_FK] UNIQUE NONCLUSTERED 
(
	[PlanBookID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BookStock] ON
INSERT [dbo].[BookStock] ([StockBookID], [PlanBookID], [ArriveQuantity], [NoArriveQuantity], [NetPrice], [Discount], [Arrived]) VALUES (1, 1, 0, 0, 5.6000, N'0.1', 1)
INSERT [dbo].[BookStock] ([StockBookID], [PlanBookID], [ArriveQuantity], [NoArriveQuantity], [NetPrice], [Discount], [Arrived]) VALUES (2, 2, 4, 1, 11.7000, N'0.9', 1)
SET IDENTITY_INSERT [dbo].[BookStock] OFF
/****** Object:  Table [dbo].[Admin]    Script Date: 06/18/2016 18:27:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[LonginID] [varchar](30) NOT NULL,
	[LonginPwd] [varchar](30) NOT NULL,
 CONSTRAINT [PK_ADMIN] PRIMARY KEY NONCLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_StudentInfo_StudentSex]    Script Date: 06/18/2016 18:27:52 ******/
ALTER TABLE [dbo].[StudentInfo] ADD  CONSTRAINT [DF_StudentInfo_StudentSex]  DEFAULT (N'男') FOR [StudentSex]
GO
/****** Object:  Default [DF_PlanBook_IsBookStock]    Script Date: 06/18/2016 18:27:53 ******/
ALTER TABLE [dbo].[PlanBook] ADD  CONSTRAINT [DF_PlanBook_IsBookStock]  DEFAULT ((0)) FOR [IsBookStock]
GO
/****** Object:  Default [DF_GrantBook_GetBookNum]    Script Date: 06/18/2016 18:27:53 ******/
ALTER TABLE [dbo].[GrantBook] ADD  CONSTRAINT [DF_GrantBook_GetBookNum]  DEFAULT ((1)) FOR [GetBookNum]
GO
/****** Object:  Default [DF_BookStock_ArriveQuantity]    Script Date: 06/18/2016 18:27:53 ******/
ALTER TABLE [dbo].[BookStock] ADD  CONSTRAINT [DF_BookStock_ArriveQuantity]  DEFAULT ((0)) FOR [ArriveQuantity]
GO
/****** Object:  Default [DF_BookStock_Arrived]    Script Date: 06/18/2016 18:27:53 ******/
ALTER TABLE [dbo].[BookStock] ADD  CONSTRAINT [DF_BookStock_Arrived]  DEFAULT ((0)) FOR [Arrived]
GO
